*body {
  margin: 0;
  padding: 0;
}

.s1-p1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.s1-p2 {
  top: 0;
  left: 0;
  position: fixed;

  width: 25%;
  height: 99.5vh;

  padding: 10px;
  box-shadow: 0px 0px 10px;
  border-radius: 15px;
}
.exit-button {
  height: 20px;
  width: 70px;
  margin-top: 325px;
}
.s1-p3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid red; */
  margin-top: -9px;
  margin-left: 388px;
  width: 73%;
  height: 200vh;
}
.s1-p4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #373846d4;
  border-radius: 21px;
  box-shadow: 0px 0px 10px #373846d4;
  margin: 10px;
}
.head-lines {
  font-size: 2rem;
  height: 10px;
  color: white;
}

.s1-p4 .skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill h1 {
  border: 2px solid #04aa6d !important;
  background-color: #04aa6d !important;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
}

#Navbar-section {
  top: 0;
  left: 0;
  position: sticky;
  margin-bottom: 20px;
  margin-top: -8px;
  margin-left: -9px;
  margin-right: -9px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 70px;

  /* box-sizing: border-box; */
  /* box-shadow: 0px 0px 10px; */
}

.s1-p6 {
  /* box-shadow: 0px 0px 10px; */
  color: #04aa6d !important;
  font-size: 2rem;
}
.s1-p7 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #04aa6d;
  font-size: 1.5rem;
}

.nav-button h3 a {
  color: #04aa6d;
}

.background-section {
  height: 100vh;
  width: 100%;
}
.container h1 {
  color: #04aa6d !important;
}

.background-section::before {
  content: " ";
  background-color: #282a35 !important;

  position: absolute;
  top: 0;
  left: 0;
  height: 700px;
  width: 100%;
  z-index: -1;
}
.Box {
  display: flex;
}
.image {
  margin-top: 0rem;
  height: 25rem;
  width: 25rem;
}
.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 0vh;
  margin-left: 10rem;
}
.container h1 {
  font-size: 5rem;
}
.container p {
  color: white;
  font-size: 1.5rem;
  margin-top: -30px;
}
.container h1 span {
  color: white;
}

.wave-svg {
  position: relative;
  z-index: -1;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
}
.description-detail-section {
  display: flex;
  justify-content: center;
  height: 100px;
  /* border: 2px solid red; */

  color: white;
  background-color: #04aa6d;

  margin: auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  width: 74%;
}
.btn-s1-p8 {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.btn1 {
  height: 52px;
  width: 212px;
  font-size: 1.5rem;
  background-color: #282a35 !important;
  border: 2px solid #04aa6d !important;
  border-radius: 10px;
  color: #04aa6d !important ;
  cursor: pointer;
}
.btn1:hover {
  background-color: #04aa6d !important;
  color: #282a35 !important;
}
.btn2:hover {
  background-color: #04aa6d !important;
  color: #282a35 !important;
}
.btn2 {
  margin-left: 2rem;
  height: 52px;
  width: 212px;
  font-size: 1.5rem;
  background-color: #282a35 !important;
  border: 2px solid #04aa6d !important;
  border-radius: 10px;
  color: #04aa6d !important ;
  cursor: pointer;
}

.s1-p9 h1 {
  border: 2px solid gray;

  height: 300px;
  width: 400px;
  margin-top: 100px;
  border-radius: 15px;
  /* box-shadow: 0px 0px 10px; */
}
/* 
.s1-p9::before {
  content: " ";
  background-color: #d9eee1 !important;
  position: absolute;
  left: 0;

  width: 100%;
  z-index: -1;
} */

.s1-p10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -92px;
}
.s1-p10 div h1 {
  margin: 2px;
  font-size: 3rem;
  color: #04aa6d;
  /* font-family: "Cedarville Cursive", cursive; */
}

.s1-p10 .s1-p11 h1 {
  margin-top: -2px;
  margin-left: 20px;
  background-color: #04aa6d;
  color: rgb(217, 238, 225);
  border-radius: 4px;
}

.bg-color {
  margin-top: -124px;
  background-color: rgb(217, 238, 225);
  height: 330px;
  margin-left: -7px;
  width: 101%;
  position: relative;
  z-index: -1;
}

.myImage {
  display: flex;
  height: 200px;
  align-items: center;
  width: 100%;
  justify-content: center;

  background-color: #373846d4;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.image-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #04aa6d !important;
  height: 105px;
  width: 105px;
  border-radius: 54px;
}
.image-border img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
